body {
    background-color: #111315;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.nunito-font {
    font-family: 'Nunito Sans', sans-serif;
}

.glitch-style {
    background: linear-gradient(45deg, #ff7a9b, #2f08ff);
    -webkit-background-clip: text;
    color: transparent;
}

.main-bg {
    background-color: #111315;
}

.box-sh {
    box-shadow: 0px 0px 30px #4f47e4;
}

.box-baloon {
    box-shadow: 0px 5px 10px #161d2c;
}

.img-rotate {
    transform: rotate(-10deg);
}

.img-rotate-two {
    transform: rotate(10deg);
}

::-webkit-scrollbar {
    width: 0px;
}

th {
    background-color: #4f47e4;
}
